#container {
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 960px;
    overflow: hidden;
  }
  
.row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    flex: 1 1 1px;
} 
.square {
    overflow: hidden;
    background-color: aqua;
    flex: 1 1 1px;
    height: 100%;

  }


  